In [2]:
name1 = input("Enter name : ")
print ("type of number", type(name1))

name2 = (input("Enter name : "))
print (type(name2))

x, y, z = input("Enter three values: ").split()

print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

print (type(x))
print (type(y))
print (type(z))

Enter name : saban
type of number <class 'str'>
Enter name : besiktas
<class 'str'>
Enter three values: 20 30 50
Total number of students:  20
Number of boys is :  30
Number of girls is :  50
<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = "This is a string"
print (a)
print(type(a))

print("\n")

L = [1, "a" , "string" , 1+2]
print(L)
L.append(6)
print(L)
L.pop(0)  #1eleman silindi
print(L)
print(L[1])
print(type(L))

print("\n")

tup = (1, "a", "string", 1+2)
print(tup)
print(type(tup))
print(tup[1])
# tup.append(3) #izin verilmiyor tuple i√ßin
# print(tub)

print("\n")

s = "Hello World"
for i in s :
    print (i)

print("\n")

for i in range(0, 10):
    print (i)

This is a string
<class 'str'>


[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
['a', 'string', 3, 6]
string
<class 'list'>


(1, 'a', 'string', 3)
<class 'tuple'>
a


H
e
l
l
o

W
o
r
l
d


0
1
2
3
4
5
6
7
8
9